In [1]:
import pandas as pd
import scipy.stats as sc
import matplotlib.pyplot as plt
import numpy as np
import time as t

In [2]:
# The columns 'Market' and 'Distribution Channel' are not relevant
# Some values of adults and children are outliers. These seem to be data entry errors. So many people cannot fit one room
# Year has missing values
# Is_Cancelled contains a 2, but this column is binary
# Stays_in_week_nights contains a number with a ,
# Meal has a lot of trailing spaces
# Country has trailing spaces and contains numbers
# Agent and Company contains NULL and null
# Adr numbers are not real numbers
# Duplicates

In [3]:
df = pd.read_excel("hotelBookings.xlsx")

df = df.drop_duplicates()
df["company"] = df["company"].fillna(0)
df["agent"] = df["agent"].fillna(0)
df["stays_in_week_nights"] = df["stays_in_week_nights"].astype(int)
df["arrival_date_month"] = pd.to_datetime(df['arrival_date_month'], format='%B').dt.strftime('%m')

Checken voor outliers

In [23]:
df['adults'].sort_values(ascending=False) # kijken of er outliers zijn in de data 
print(df[df['adults'] > 4]) # net gezien dat er een kamer is met 3500 adults wat dus niet kan 4 is realistisch aantal
df = df[df['adults'] <= 4] # verwijder alle rijen waarbij er meer dan 4 adults zijn
df['children'].sort_values(ascending=False) # het zelfde voor children 
df = df[df['children']<=4]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 32 columns]

Landen bevatten letters en veel spaties.

In [52]:
df['country'] = df['country'].str.strip() # de spaties verwijderen 
df['country'] = df['country'].str.replace(r'\d+', '', regex=True) # verwijder de cijfers

In [48]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,07,27,1,0,0,2,...,No Deposit,0.0,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,07,27,1,0,0,2,...,No Deposit,0.0,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,07,27,1,0,1,1,...,No Deposit,0.0,0.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,07,27,1,0,1,1,...,No Deposit,304.0,0.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,07,27,1,0,2,2,...,No Deposit,240.0,0.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,08,33,9,2,2,2,...,No Deposit,240.0,0.0,0,Transient,211.00,0,1,Check-Out,2015-08-13
996,Resort Hotel,0,82,2015,08,33,9,2,2,2,...,No Deposit,240.0,0.0,0,Transient,154.00,0,0,Check-Out,2015-08-13
997,Resort Hotel,1,65,2015,08,33,9,2,3,2,...,No Deposit,240.0,0.0,0,Transient,145.40,0,0,Canceled,2015-06-22
998,Resort Hotel,1,129,2015,08,33,9,2,3,1,...,No Deposit,240.0,0.0,0,Transient,101.25,0,0,Canceled,2015-04-06
999,Resort Hotel,0,55,2015,08,33,9,2,4,2,...,No Deposit,242.0,0.0,0,Transient,179.38,0,0,Check-Out,2015-08-15